<% form_for(@subscription) do |f| %>
  <%= f.error_messages %>
  <table cellpadding="0" cellspacing="2" border="0">

  <tr>
    <td><%= f.label 'Subscription Status: '  %></td>
    <td><%= f.select :status, ['active','unsubscribed'] %></td>
  </tr>

  <% 
     begin
  f.fields_for :contactable, @contact do |c| 
  %>
  <tr>
    <td><%= c.label @contact.contactable_method(:first_name)  %></td>
    <td><%= c.text_field @contact.contactable_method(:first_name) %></td>
  </tr>
  <tr>
    <td><%= c.label @contact.contactable_method(:last_name)  %></td>
    <td><%= c.text_field @contact.contactable_method(:last_name) %></td>
  </tr>
  <tr>
      <td><%= c.label @contact.contactable_method(:email_address)  %></td>
      <td><%= c.text_field @contact.contactable_method(:email_address) %><td>
  </tr>
  <% 
end
  rescue => e %>
       <%= "#{e.message} - #{e.backtrace.join("<br/>")} - #{@contact.inspect} - #{@subscription.contactable.inspect}" %>
<%     end
 %>
  <tr>
     <td colspan="2" align="right"><%= f.submit 'Save', :class => 'button' %><div class="buttonEnding"></div>
     <%= f.hidden_field :mailing_list_id %></td>
  </tr>
<% end %>
</table>
