<%= form_for @contact do |f| %>
  <%= f.error_messages %>
       <%= f.label :first_name %>
       <%= f.text_field :first_name, :style => 'width: 300px;' %><br />
       <%= f.label :last_name %>
       <%= f.text_field :last_name, :style => 'width: 300px;' %><br />
       <%= f.label :email_address %>
       <%= f.text_field :email_address, :style => 'width: 300px;' %><br />
    <%= contactable_subscriptions_selector(f, 'admin_unsubscribed') %>
      <div class="submit_button"><%= f.submit "Submit", :class => 'button' %></div>
<% end %>
