<% title "Contacts" %>


<%= form_tag MailManager.contacts_path(), :id => 'search_form', :method => 'get' do %>
  <label class="form">Contact Search:</label> <%= text_field_tag "term","",  :class => "text"%>
  <label class="form">Mailing List:</label><%= select_tag "mailing_list_id", options_for_select([['','']] + ::MailManager::MailingList.order(:name).map{|mailing_list|
      [mailing_list.name, mailing_list.id]
    }, params[:mailing_list_id].to_i), {onChange: "return toggleStatus()"} %>
  <div id="subscription_status_selector" style="display: <%= params[:mailing_list_id].present? ? 'inline' : 'none' %>">
    <label class="form">Status:</label><%= select_tag "status", options_for_select(['active','unsubscribed','failed_address','pending'].map{|status|
      [status.humanize,status]}, params[:status]) %>
  </div>    
  <%= submit_tag "Search", :class => 'button' %><div class="buttonEnding"></div>
<% end %>
<% content_for :head do %>
<script language="javascript">
function toggleStatus() {
  if(jQuery('#mailing_list_id').val() != '') {
    jQuery('#subscription_status_selector').show();
  } else {
    jQuery('#subscription_status_selector').hide();
  }
}
</script>
<% end %>

<br/>
<b>Listing Contacts </b>
    
<%= will_paginate @contacts %>

<table class="list" cellpadding="1" cellspacing="0">
  <tr class="title">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email Address</td>
  <% if params[:mailing_list_id].present? %>  <td>Status</td> <% end %>
  <% colspan = 2 
     colspan += 1 if use_show_for_resources? %>
    <td colspan="<%= colspan %>"> </td>
  </tr>
  <% for contact in @contacts %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h contact.first_name %></td>
      <td><%=h contact.last_name %></td>
      <td><%=h contact.email_address %></td>
      <% if params[:mailing_list_id].present? %>  <td><%= params[:status].humanize %></td> <% end %>
    <% if use_show_for_resources? %>
      <td><%= link_to "View", contact, :class => 'button' %><div class="linkbuttonEnding"></div></td>
    <% end %>
    <% if (contactable = contact.contactable).present? %>
      <% if contactable.respond_to?(:is_deleted?) && contactable.is_deleted? %>
      <td colspan="2"><%= contactable.class.name.humanize %> is Deleted</td>
    <% else %>
      <td colspan="2"><%= link_to("Edit #{contactable.class.name.humanize}", 
        send("MailManager.edit_#{contactable.class.name.underscore}_path",contactable),
        :class => 'button') rescue "No #{contact.contactable.class.name.humanize} Actions" %>
        <div class="linkbuttonEnding"></div></td>
      <% end %>
    <% else %>
      <td><%= link_to "Edit", MailManager.edit_contact_path(contact), :class => 'button' %><div class="linkbuttonEnding"></div></td>
      <td><%= link_to "Delete", contact, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %><div class="linkbuttonEnding"></div>
      </td>
    <% end %>
<!--
      <% if @mailings.length > 0 %>
      <td>
        <% form_tag MailManager.send_one_off_message_contact_path(contact), :style => 'display:inline' do |f| %>
        <%= select_tag 'mailing_id',  
              options_for_select(@mailings.collect{|mailing| [mailing.subject, mailing.id]}) %> 
        <%= submit_tag "Send One Off Message", :class => 'button' %><div class="buttonEnding"></div>
        <% end %>
      </td>
      <% end %>
-->
    </tr>
  <% end %>
</table>

<%= will_paginate @contacts %><br/>
<%= content_for :page_navigation do %>
<div>
  <%= link_to "New Contact", MailManager.new_contact_path, :class => 'button' %><div class="linkbuttonEnding"></div>
</div>
<% end %>

