<%= title "Listing Bounces for #{@mailing.try(:subject)}" %>


<%= form_tag mail_manager.bounces_path, :id => 'search_form', :method => 'GET' do %>
 <label>Mailing:</label><%= select_tag "mailing_id", options_for_select(@mailings.collect{|mailing| ["#{mailing.subject} (#{l mailing.status_changed_at}) (#{mailing.bounce_count})",mailing.id.to_s]},params[:mailing_id].to_i), :include_blank => true, :onChange => "$('#search_form').submit()" %><br />
  <label>Status:</label><%= select_tag "bounce[status]", options_for_select([['Needs Attention','needs_manual_intervention'],['Resolved','resolved']],params[:bounce][:status]), :include_blank => true,  :onChange => "$('#search_form').submit()" %><br />
<% end %>
<% if @bounces.length == 0 %>
  <h3>No bounces found for the Mailing with given status.</h3>
<% else %>

<p><%= will_paginate @bounces %></p>

<table class="list" cellpadding="1" cellspacing="0">
  <tr class="title">
    <td>Contact</td>
    <td>Status changed at</td>
    <td>Comments</td>
    <td>&nbsp;</td>
  </tr>
  <% for bounce in @bounces %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h bounce.contact_full_name %>  <%=h bounce.contact_email_address %></td>
      <td><%=l bounce.status_changed_at rescue nil %></td>
      <td><%=h bounce.comments %></td>
      <td><%= link_to "View", bounce, :class => 'button' %></td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @bounces %></p>
<% end %>
