<!DOCTYPE html>
<html lang='en'>
<head>
  <!-- iReach application.html.rb -->
  <title><%= h(yield(:title) || "iReach Newsletter Manager") %></title>
  <%= stylesheet_link_tag    "i_reach/application", :media => "all" %>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/le-frog/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "i_reach/application" %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>
<div id="top"><%= image_tag "i_reach/iReach_logo.gif", width: "269", height:"85", style: "float: left;" %><%= image_tag "i_reach/TopCenter.gif", width: "435", height: "85", style: "float: left;" %><%= image_tag "i_reach/TopRight.gif", width: "62", height: "85", style: "float: right;" %>&nbsp;</div>
<div style="background-color: #fff;">
  <div id="menu">
    <ul>
      <li><a href="/admin">Home</a></li>
      <li><a href="#">Setup</a>
        <ul>
          <li>Admin Menus</a></li>
          <li>Admin Users</a></li>
          <li><a href="/admin/newsletter/designs?menu_id=11">Newsletter Designs</a></li>
        </ul>
      </li>
      <li><a href="/admin/newsletter/newsletters">Newsletters</a></li>
      <li>Mailings
      </li>
    </ul>
  </div>
<div id="page_content">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end -%>
      
      <% if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <% end -%>
      <%= yield %>
      
      <%= yield :page_navigation %>
</div>
</div>
<%= image_tag "i_reach/BottomRight.gif", width: "62", height: "85", style: "float: right;" %>
</body>
</html>
