<% if email.is_a?(TMail::Mail) 
     this_part = email
   elsif email.length > 0
     begin
       this_part = TMail::Mail.parse(email)
     rescue => e %>
     <pre>
     An error occured parsing this part of the email: <%= e.message %>
     <%= e.backtrace.join("\n") %>
     </pre>
  <% end 
   end%>
<% unless this_part.nil? %>
    <hr/>
  <h3>Headers</h3>
    <pre>
      <% this_part.header.each do |header| %>
        <%= header[0] %>: <%= header[1] %> 
      <% end %>
    </pre>
  <% if this_part['content-type'].to_s =~ /text\/html/i %>
  <h3>Body Part</h3>
    <%= this_part.body %>
  <% elsif  this_part['content-type'].to_s =~ /text\/plain|message\/delivery-status|text\/rfc822-headers/i  %>
  <h3>Body Part</h3>
    <pre><%= this_part.body %></pre>
  <% end %>
      <% this_part.parts.each do |part| %>
  <%= render :partial => 'mail_mgr/bounces/email_parts', :locals => {:email => part} %>
      <% end
   end %>

