<% title "Listing Bounces for #{@mailing.try(:subject)}" %>


<% form_tag mail_manager_bounces_path, :id => 'search_form', :method => 'GET' do %>
  Mailing: <%= select_tag "mail_manager_mailing_id", options_for_select(@mailings.collect{|mailing| [mailing.subject,mailing.id.to_s]},params[:mailing_id]), :onChange => "$('search_form').submit()" %></br>
  Status:<%= select_tag "bounce[status]", options_for_select([['Needs Attention','needs_manual_intervention'],['Resolved','resolved']],params[:bounce][:status]), :onChange => "$('search_form').submit()" %>
<% end %>
<% if @bounces.length == 0 %>
  <h3>No bounces found for the Mailing with given status.</h3>
<% else %>

<p><%= will_paginate @bounces %></p>

<table class="list" cellpadding="1" cellspacing="0">
  <tr class="title">
    <td>Contact</td>
    <td>Status changed at</td>
    <td>Comments</td>
    <td>&nbsp;</td>
  </tr>
  <% for bounce in @bounces %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h bounce.contact_full_name %>  <%=h bounce.contact_email_address %></td>
      <td><%=h bounce.status_changed_at %></td>
      <td><%=h bounce.comments %></td>
      <td><%= link_to "View", bounce, :class => 'button' %><div class="linkbuttonEnding"></div></td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @bounces %></p>
<% end %>
