<% title "Listing Mailing Lists" %>

<% if @mailing_lists.length > 0 %>

<table class="list" border="0" cellpadding="0" cellspacing="0">
  <tr class="title">
    <td>Name</td>
    <td>Active</td>
    <td>Unsubscribed</td>
    <td> </td>
    <td> </td>
  </tr>
<% @mailing_lists.each do |mailing_list| %>
	<tr class="<%= cycle('odd','even') %>">
    <td><%=h mailing_list.name %></td>
    <td align="right"> <%= mailing_list.subscriptions.active.size %> </td>
    <td align="center"> <%= mailing_list.subscriptions.unsubscribed.size %>  </td>
    <td><%= link_to 'Edit', edit_mail_manager_mailing_list_path(mailing_list), :class => 'button'  %><div class="linkbuttonEnding"></div></td>
    <td><%= link_to 'Delete', mailing_list, :confirm => 'Are you sure?', :method => :delete, :class => 'button' %><div class="linkbuttonEnding"></div></td>
  </tr>
<% end %>
</table>
<% else %>
No mailing lists exist.
<% end %>


<% @page_title = "Mailing Lists" %>
<% content_for :page_navigation do %>
<div>
  <%= link_to "New Mailing List", new_mail_manager_mailing_list_path, :class => 'button' %><div class="linkbuttonEnding"></div>
</div>
<% end %>
