<% form_for @mailing do |f| %>
  <%= f.error_messages %>
  <% if @all_mailing_lists.length == 1 %><%= hidden_field_tag 'mail_mgr_mailing[mailing_list_ids][]', @mailing.mailing_lists.first.try(:id) %><% end %>
  <table cellspacing='1' cellpadding='0' border='0'>  
    <tr valign="top">
       <td width='150'><%= f.label :subject %></td>
       <td><%= f.text_field :subject %></td>
    </tr>
    <tr valign="top">
       <td width='150'><%= f.label :from_email_address %></td>
       <td><%= f.text_field :from_email_address %></td>
    </tr>
    <% if @mailables.length > 0 %>
    <tr valign="top">
       <td width='150'><%= f.label "Select Mailable Item" %></td>
  		 <td><%= select_tag 'mail_mgr_mailing[mailable_class_and_id]',
  		         options_for_select(@mailables_for_select,
  		         @mailing.mailable_thing_and_id), :onChange => "if($('mailing_mailable')."+
  		         "getValue() == 'Mailable_new') {$('new_mailable').show();}else"+
  		         "{$('new_mailable').hide();}" %>
  		 </td>
    </tr>
  	<% else %>
  	  <!-- You need to create some mailable items! -->
  	<% end %>
  	<% unless @mailable.nil? %>
  	<% div_for @mailable, (@mailables.length == 0) ? {} : {:style => 'display:none'} do %>
      <% f.fields_for @mailable do |fm| %>
    <tr valign="top">
      <td width='150'><%= fm.label :email_html %></td>
      <td><%= fm.text_area :email_html %></td>
    </tr>
    <tr valign="top">
      <td width='150'><%= fm.label :email_text %></td>
      <td><%= fm.text_area :email_html %></td>
    </tr>
      <% end %> 
    <% end %>
    <% end %>
    <tr valign="top">
       <td width='150'><%= f.label :scheduled_at %></td>
       <td><%= calendar_date_select_tag 'mail_mgr_mailing[scheduled_at]', @mailing.scheduled_at, :time => true %></td>
    </tr>
    <tr valign="top">
       <td width='150'><%= f.label :include_images %></td>
       <td><%= f.check_box :include_images %></td>
    </tr>
    <% if @all_mailing_lists.length > 1 %>
  	<tr>
  	  <td colspan="2">
  	    <div class='newsletter_parts_group' style='margin-top: 10px; padding: 0 5px 5px 15px; border: thin dashed black; background-color: #eee'>
           <h2 style='padding-bottom: 0; margin-bottom: 0; font-size: 10pt; '>Available Lists</h2>
           <p>
  		<% @all_mailing_lists.each do |mailing_list| %>
  				<%= check_box_tag 'mail_mgr_mailing[mailing_list_ids][]', mailing_list.id, @mailing.mailing_lists.include?(mailing_list) %>
  				<%= label_tag :mail_mgr_mailing_mailing_list_id, "#{mailing_list.name}" %><br/>
  		<% end %>
  		    </p>
  		  </div>
  		</td>
    <% end %>
    <tr>
      <td align="right" colspan="2"><%= f.submit "Submit", :class => 'button' %><div class="buttonEnding"></div></td>
    </tr>
  </table>
    
<% end %>


<% content_for :head do %>
<%= calendar_date_select_includes 'green' %>
<% end %>
