<p>
  <b>Name:</b>
  <%=h @mailing.subject %>
</p>

<p>
  <b>Status:</b>
  <%=h @mailing.status %>
</p>

<p>
  <b>Status changed at:</b>
  <%=h @mailing.status_changed_at %>
</p>

<p>
  <b>Scheduled at:</b>
  <%=h @mailing.scheduled_at %>
</p>

<p>
  <b>Include images:</b>
  <%=h @mailing.include_images %>
</p>


<%= link_to 'Edit', MailManager.edit_mailing_path(@mailing) %> |
<%= link_to 'Back', MailManager.mailings_path %>